<div class="box"></div>
<form class="cores" action="" style="text-align: center;">
        <h2>Bem-vindo!</h2>
        <h1></h1>
        <br>
        <div class="col-md-2 col-sm-3 col-xs-6" style="width: 90%; margin-left: 363%;">
                <a href="#" class="btn btn-sm animated-button thar-two"><b>Viagens</b></a>
        </div>
        <br>
        <div class="col-md-2 col-sm-3 col-xs-6" style="width: 90%; margin-left: 363%;">
                <a href="#" class="btn btn-sm animated-button thar-two"><b>Next</b></a>
        </div>

    </form>


