
* {
    margin: 0;
    padding: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 8vh;
    
}

.nav-list {
    list-style: none;
    display: flex;
    transition: 0.3s;
}

.nav-list li:hover {
    opacity: 0.7;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    color: white;
    cursor: pointer;
}

